<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd63e7">  <td>21/02/06 00:47:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunner.setUpClass()[pri:0, instance:com.cucumberFramework.testRunner.TestRunner@36bf84e]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1010434098</td>   <td></td> </tr>
<tr bgcolor="bd63e7">  <td>21/02/06 00:47:14</td>   <td>616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.cucumberFramework.testRunner.TestRunner@36bf84e]">feature</td> 
  <td>PoolService-0@553917068</td>   <td></td> </tr>
<tr bgcolor="bd63e7">  <td>21/02/06 00:48:09</td>   <td>55313</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.testDownClass()[pri:0, instance:com.cucumberFramework.testRunner.TestRunner@36bf84e]">&lt;&lt;testDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1010434098</td>   <td></td> </tr>
</table>
